.fep-parent {
  position: relative;
  margin-left: 10vw;
  margin-top: 10vh;
  width: 80vw;
  height: 80vh;
  overflow: hidden;
  /* transform: scale(0.9); */
  /* border: 1px solid #f00; */
  transform-origin: 50% 50%;
}

.fep-demo2 {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #f8f8fc;
  /* transform: translate(-50vw, -50vh) scale(0.9);
  width: 100vw;
  height: 100vh; */
}

.fep-add {
  position: fixed;
  top: 10px;
  left: 10px;
}
